*.swp
.vim
.exrc
*.o
umka_shell
umka_fuse
mkdirrange
mkfilepattern
*.img
*.img.xz
*.img.gz
*.img.lz4
*.img.info
*.out.???
.gdb_history
umka.fas
umka.sym
umka.lst
umka.prp
tags
*.out
coverage.*
covpreproc
*.skn
