*.swp
.vim
.umka
.exrc
*.o
*.a
*.gch
umka_shell
umka_fuse
umka_os
umka_monitor
umka_ping
umka_gen_devices_dat
tools/mkdirrange
tools/mkdoubledirs
tools/gensamehash
tools/mksamehash
tools/mkfilepattern
tools/lfbviewx
tools/lfbview
tools/randdir
*.qcow2
*.img
*.raw
*.out.???
out.???
*.out.indent
.gdb_history
umka.fas
umka.sym
umka.lst
umka.prp
umka.cov
tags
*.out
coverage.*
covpreproc
*.skn
*.dsl
*.aml
ignore.*
t.d
*~
*.exe
colors.dtp
.tup
apps/board_hello
apps/board_cycle
apps/readdir
apps/loader
apps/asciivju
apps/justawindow
runtests
