*.swp
.vim
.umka
.exrc
*.o
umka_shell
umka_fuse
umka_os
umka_ping
umka_gen_devices_dat
mkdirrange
mkfilepattern
lfbviewx
randdir
*.img
*.img.xz
*.img.gz
*.img.lz4
*.img.info
*.out.???
*.out.indent
.gdb_history
umka.fas
umka.sym
umka.lst
umka.prp
umka.cov
tags
*.out
coverage.*
covpreproc
*.skn
*.dsl
*.aml
ignore.*
t.d
*~
*.exe
colors.dtp
.tup
hello_board
